page-principal {}
.exit{
    background-color: darkgray;
}
.inout{
    max-width: 100%!important;
    width: 100%!important;
    right: auto!important;
    direction: ltr!important;
    padding-left: 0!important;
}
.line{
    border-bottom: solid 1px #dedede;
}

.colBtn{
    padding: 0px
}

.btnExit{
    margin: 0px;
}

.btnNewReport{
    margin: 0px;
}

.pesquisas{
    padding-left: 20px;
    padding-right: 20px;
}

